*,
*::before,
*::after {
	@apply box-border;
}

.forms-section {
	@apply flex justify-center items-center min-h-screen w-full bg-[#455a64];

	font-family: Roboto, -apple-system, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

.forms {
	@apply flex items-start mt-[10px];
}

.form-wrapper {
	@apply animate-[hideLayer_0.3s_ease-out_forwards];
}

.form-wrapper.is-active {
	@apply animate-[showLayer_0.3s_ease-in_forwards];
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}

	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}

	49.999% {
		z-index: 1;
	}
}

.switcher {
	@apply relative cursor-pointer block mr-auto ml-auto p-0 uppercase font-[inherit] text-xl tracking-[0.5px] text-[#999] bg-transparent border-none outline-none translate-x-0 transition-all duration-[0.3s] ease-out;
}

.form-wrapper.is-active .switcher-login {
	@apply text-[#fff];
	transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
	@apply text-[#fff];
	transform: translateX(-90px);
}

.underline {
	@apply absolute bottom-[-5px] left-0 overflow-hidden pointer-events-none w-full h-[2px];
}

.underline::before {
	@apply absolute content-[''] top-0 left-[inherit] block w-[inherit] h-[inherit] bg-current transition-transform duration-[0.2s] ease-out;
}

.switcher-login .underline::before {
	transform: translateX(101%);
}

.switcher-signup .underline::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}



